// DARK THEME (default)
$bg-dark: #1C2128
$box-dark: #2B3038
$text-st-dark: #ADBAC7
$text-nd-dark: #667283
$text-hover-dark: #4A5461
$text-not-dark: #546070
$btn-dark: #444C56
$btn-hover-dark: #1C2128

// LIGHT THEME
$box-light: #FEFEFE

// BOUTH THEMES
$error: #FC3737
$toogle: #32aa60